#pt-main {
    background-color: #191927;
}

html, body {
    background-color: #191927;
    margin:0px;
    font-family: 'Roboto', sans-serif !important;
}

.song {
    margin:20px;
}

* {
    color: #ffffff;
}

.wrapper {
    text-align: center;
}

.wrapper div img {
    border-radius: 100%;
    opacity: 0.5;
}

.wrapper div img:hover {
    opacity: 1;
}
.wrapper div {
    cursor: pointer;
    float: left;
    width: 100%;
    margin:0px;
    padding:50px 200px 0 200px;
}

.wrapper h1 {
    font-size: 50px;
}

/*      Menu        */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #181825; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, #181825, #2D2D3D); /* Standard syntax */
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 30px !important;
    text-decoration: none !important;
}

li a:hover:not(.active) {
    color: #2bb4c4;
}

.active {
    background-color: #4CAF50;
}

.player {
    overflow: hidden;
    background-color: #1E1E2C;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 12%; */
}

.player a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/*          Song current time bar        */
#myProgress {
    width: 400px;
    background-color: #95989A;
    border-radius: 5px;
    margin: 0 auto;
}

#myBar {
    width: 0%;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#myProgress  {
    position:relative;
    cursor:pointer;
    height:6px;
    display:inline-block;
    margin-top:10px;
    margin-right:10px;
    background-color: #95989A;;
    border-radius: 5px;
}

#myBar {
    display:block;
    height:6px;
    position:absolute;
    top:0;
    left:0;
    background-color:#2BB4C4;
    z-index:10;
    border-radius: 5px;
}

/*!* END PROGRESS BAR *!*/

#controls {
    padding:20px 0px 5px 0px;
}

/*#controls button {
background-color: transparent;
border: none;
}*/
#controls i {
    padding: 0px 10px 0px 10px;
}

button {
    background-color: transparent;
    border: none;
}

/*          volume bar         */
.volume {
    position:relative;
    cursor:pointer;
    width:100px;
    height:6px;
    display:inline-block;
    margin-top:10px;
    margin-right:10px;
    background-color: #95989A;;
    border-radius: 5px;
}
.volumeBar {
    display:block;
    height:6px;
    position:absolute;
    top:0;
    left:0;
    background-color:#2BB4C4;
    z-index:10;
    width: 50%;
    border-radius: 5px;
}

.card {
    padding: 20px;
    margin-top: 50px;
    background-color: #33333F;
    border-radius: 9px;
}

.card h1 {
    margin-top: 0;
    padding-left: 15px;
    padding-bottom: 20px;
}

.card p {
    margin: 5px 0 0 0;
}

.card small {
    color:#99999F !important;
}

.similars, .resents {
    float: right;
    padding-left: 0 !important;
    margin-top:50px;
    background-color: #33333F;
}
.similars p {
    font-size: 25px;
    margin: 0;
    /*margin: 20px 0 0 0;*/
}

.similars small {
    font-size: 18px;
}

.similars img {
    border-radius: 9px;
}

.resents p {
    font-size: 25px;
    margin: 0;
    /*margin: 20px 0 0 0;*/
}

.resents small {
    font-size: 18px;
}

.mysongs {
    /* margin-right:20px; */
}

.filter_category {
    padding:10px;
    background-color: #1F4A58;
}

.filter_content {
    padding:20px;
    background-color: #373743;
    border-bottom: 1px solid #565760;
}

.filter_content input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
    margin-bottom: 10px;
}

#genres, #release, #artists, #mysongs_keywords {
    padding-bottom: 10px;
}

option {
    color: #000000;
}

#genres_content, #artists_content {
    max-height: 180px;
}

/* scrollbar */
.scrollbar{
    overflow-y:auto;
    overflow-x:hidden;
}

.scrollbar::-webkit-scrollbar {
    width: 0;
    border-radius: 10px;
    background-color:Transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color:Transparent;
    -webkit-box-shadow: inset 0 0 6px Transparent;
}

#expand_lyrics pre {
    color: #ffffff;
    border: none;
    background-color: inherit;
    padding: 0;
    font-size:30px;
}

.display_songs em {
    font-size: 24px;
}

a {
    cursor: pointer;
}


/* Scrollable content */
.parent {
    /* position: absolute; */
    width: 100%;
    height: 350px;
    /* left: 20%; */
    /* top: 50%; */
    transform: translateY(-50%);
    box-sizing: border-box;
    padding: 30px 0 30px 0;
    overflow: hidden;
    /* background: #f5f5f5; */
    white-space: nowrap;
    text-align: center;
}

.parent .scrollBar{
    /*height:100%;*/
    width:100%;
    padding-bottom:30px;
    overflow-x: scroll;
}

.child {
    width: 200px; height: 100%;
    padding: 25px 0 25px 25px;
    box-sizing: border-box;
    /* background: #3b3b3b; */
    display:inline-block;
}

.child h3, .child h5, .parent h3 {
    /*white-space:nowrap;
    overflow-x: hidden;*/
    /*overflow-x: scroll;*/
    overflow-y: hidden;
}

.pt-page {
    background-color: #191927;
}

* {
    font-size:30px;
}

#mysongs_filters {
    padding-bottom: 50px;
}

h1 {
    font-size: 30px !important;
}

.content {
    /*height:86%*/
    height:80%;
}

#explore div {
    padding-bottom:40px;
}

#song_by_genre h1 {
    /*padding-bottom: 50px;*/
}

.song_title {
    text-align:center;
}

#song_details {
    text-align: center;
}

#song_details h1 {
    /*padding-bottom: 50px;*/
}

#song_details pre {
    color: #ffffff;
    border: none;
    background-color: inherit;
    padding: 0;
    font-size:30px;
}

/* MODAL FOR PLAYLISTS */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 50px !important;
    padding-right: 10px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    background-color: #616161;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    max-height:50%
}

.modal-body button:hover {
    border:1px solid #2bb4c4;
}

.modal-body button {
    padding:10px 10px;
    text-align: left;
    color: #000000;
}

.modal-footer {
    background-color: #616161;
    color: white;
}

#set_new_playlist {
    color: #000000;
}

#expand_player p, .content p, #title_artist {
    white-space:nowrap;
    /*overflow-x: scroll;*/
    overflow-x: hidden;
}

#song_new_releases_content small, #song_charts_content small {
    color: darkgray;
}

#song_new_releases_content p, #song_charts_content p, #song_genres_content p {
    margin: 0;
    /*font-size: 18px;*/
}

#song_new_releases_content div, #song_charts_content div, #song_genres_content div {
    padding-bottom: 40px;
}

p {
    margin: 0 !important;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 150px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}